/*universal stylings...............................................*/
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.hidden {
  display: none;
}

header {
  background-color: #6b5c5c;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
  padding: 20px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 35px;
}

.question-number,
.correct-score {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
}

.score-container {
  text-align: center;
  margin: 15px auto;
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

button {
  background-color: #048a81;
  color: white;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
}

/*page-1 styling...............................................*/
.intro-statement {
  max-width: 75%;
  margin: auto;
}

.intro-statement > h2 {
  text-align: center;
  font-size: 20px;
}

h3 {
  text-align: center;
}

.intro-statement > span {
  text-align: center;
  font-size: 12px;
  display: block;
  margin: 25px 0 5px 0;
}

.selection-container {
  text-align: center;
  padding: 3px;
}

.selection_images {
  max-width: 125px;
  height: auto;
  border-radius: 5px;
}

.hair-length-container,
.hair-texture-container {
  margin-bottom: 30px;
}

#card-short,
#card-long,
#card-straight,
#card-curly {
  display: inline-block;
}

.hair-content {
  background-color: #c4c4c4;
  padding: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

.hair-content:hover {
  background-color: #ff7f50;
}

/*Question Page...............................................*/
fieldset {
  border-style: none;
}

.question-container {
  text-align: center;
  width: 65%;
  margin: auto;
}

.question > h2 {
  padding: 15px;
  font-size: 20px;
}

.question-image {
  width:100%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}

.answer-option {
  border: 1px solid black;
  padding: 15px;
  margin: 30px auto;
  width: 65%;
  border-radius: 3px;
  display: flex; /*this helps w/aligning text answer*/
  transition: 0.4s ease-in-out;
  background-color: #c4c4c4;
}

.answer-option:hover {
  background-color: #ff7f50;
}

input[type="radio"] {
  /* flex: 0 0 auto; */
  margin-right: 2px; /* spaces the text after the radio*/
}

/* .answer-option > span {
  float: left; /*this helps to align text around radio but left justified*/
/* } */

#error-message {
  margin: 15px auto;
  color: red;
  max-width: 85%;
  font-size: 18px;
}

/*Response Page...............................................*/
.response-image-container {
  text-align: center;
  width: 65%;
  margin: auto;
}

.response-images {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}

.response-answer {
  margin: auto;
  width: 65%;
}

.response-answer > h2 {
  text-align: center;
  font-size: 20px;
}

.next {
  padding: 8px 15px;
}

/*Final Output Page...............................................*/
.results-container {
  background-color: #ff7f50;
  border-radius: 2px;
  margin: auto;
  width: 65%;
  text-align: center;
}

.final-score,
.final-message {
  padding: 15px;
  margin: 15px;
  font-size: 20px;
}

/* at bottom otherwise styling gets overwritten */
.highlighted {
  background-color: #ff7f50;
}
